.entry {
  height: 300px;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.entry > h6, .entry > p, .button-wrapper > * {
  color: #3D3D3D;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.entry > h6, .entry > p {
  font-weight: 550;
  opacity: .8;
}

.entry > h6 {
  font-size: 1.5rem;
}

.entry > p {
  font-size: 1.3rem;
}
